@import url("./vendor/fonts/fonts.css");

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fff;
  box-sizing: border-box;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.page {
  text-rendering: optimizeLegibility;
  margin: 0 auto;
  font-family: "Inter", Arial, Helvetica, sans-serif;
  font-weight: 400;
  max-width: 1560px;
  color: black;
}
main {
  min-height: 100vh;
}

::-webkit-scrollbar {
  height: 12px;
  width: 10px;
  background: #ffffff;
}

::-webkit-scrollbar-thumb {
  background: #6f4ff2;
  -webkit-border-radius: 1ex;
}
